*{
    background-color: rgb(195, 228, 217);
}

table{
    width: 20cm;
    height: 7.5cm;
    margin-left: 1cm;
    margin-top: 1cm;
}

th{
    text-align: left;
}
table,th,td{
    border: 1px solid #000;
    border-collapse: collapse;
    color: black;
    background-color: rgb(203, 201, 218);
    margin-left: 250px;
    margin-top: 3cm;
    

}
th,td{
    padding: 10px;
}
tr:nth-child(even){
    background-color: rgb(248, 243, 241);
}
tr:nth-child(odd){
    background-color: #ddd;
}
caption{
    font-size: medium;
    
    
}
footer{
    color: rgb(255, 0, 255);
    background-color: rgb(236, 198, 25);
    text-align: center;
    border-radius: 10px;
    outline: solid 5px rgb(235, 160, 160);
    margin-top: 5cm;

    
}
