*{
    background-color:lightblue;
}

iframe{
    padding: 5px;
    margin-left:6cm;
    margin-top: 20px;
    width: 60%;
    height: 13cm;
}
.wrapper{
    margin: 0 auto;
    width: 1000px;

}
footer{
    color: blue;
    background-color: rgb(248, 145, 18);
}
h1{
   margin-left: 10cm ;
}
footer{
    text-align: center;
    text-decoration-style: bold;
   border-radius: 20px;
outline: solid 5px rgb(233, 133, 133);
margin-top: 170px;

}